python-dotenv
langchain
langchain-community
langchain-groq
langchain-text-splitters
pinecone-client
langchain-pinecone
pypdf
fastapi
uvicorn[standard]
python-multipart
pydantic
supabase
requests
httpx
fastembed
